{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ collection.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{{ collection.image.url }}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ collection.description }}</p>
        <br>
        
    </div>
</div>
{% endblock %}
