{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Collections</h1>
<div class="row">
{% for collection in collection_list %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{{ collection.image.url}}">
            <div class="card-body">
                <h5 class="card-title">{{ collection.title }}</h5>
                <p class="card-text">{{ collection.description }}</p>
                <a href="{% url 'pfolio_detail' collection.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}